.main {
  width: 1200px;
  margin: 40px auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
}

.upload {
  div,button {
    width: 100%;
  }
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: 600px;
  background: #fff;
  border-radius: 15px;
}

.menu {
  margin-top: 20px;
  padding-right: 10px;
  height: 100%;
}

.dashboardContainer {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}